
.container-home {
    height: calc(100vh - 130px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5e4cf;
  }
  
  .container-home img {
    width: 30%;
  }
  
  .container-home div {
    width: 500px;
  }
  
  .container-home div h1 {
    margin: 20px 0;
  }
  
  .container-home div p {
    margin: 20px 0;
    max-width: 80%;
    line-height: 1.5;
  }
  
  .container-home div button {
    background: #d2691e;
    width: 150px;
    color: #fff;
    border-radius: 25px;
    border: none;
    height: 35px;
  }
 